/* Callout Styles */

:root {
    --callout-background-color: rgba(8, 109, 221, 0.1);
	--callout-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --callout-border-color: rgba(8, 109, 221, 0.25);
	--callout-border-radius: var(--wewrite-border-radius, 4px);
	--callout-border-width: 0px;
    --callout-icon-color: rgba(8, 109, 221, 0.5);
    --callout-icon-size: 1.25em;
    --callout-icon-margin: 0.25em;
	--cursor: pointer;
}

.wewrite-callout {
    overflow: hidden;
    border-style: solid;
    border-color: var(--callout-border-color, rgba(8, 109, 221, 0.25));
    border-width: var(--callout-border-width, 0px);
    border-radius: var(--callout-border-radius, 4px);
    margin: 1em 0;
    background-color: var(--callout-background-color, rgba(8, 109, 221, 0.1));
    padding: 12px 12px 12px 24px;
}

.wewrite-callout:not(.admonition).drop-shadow {
    box-shadow: var(--callout-box-shadow, 0 4px 8px  rgba(0, 0, 0, 0.2));
}

.wewrite-callout:not(.admonition) .no-title {
    display: none;
}


@supports selector(:has(*)) {

    :has(.wewrite-callout .callout-title .callout-title-inner:dir(rtl)),
    .wewrite-callout:has(> .callout-title .callout-title-inner:dir(rtl)) {
        direction: rtl;
    }

    :has(.wewrite-callout .callout-title .callout-title-inner:dir(rtl))>.callout-title,
    .wewrite-callout:has(> .callout-title .callout-title-inner:dir(rtl))>.callout-title {
        direction: rtl;
        --direction: -1;
    }

    :has(.wewrite-callout .callout-title .callout-title-inner:dir(rtl))>.callout-title .callout-icon svg.svg-icon,
    .wewrite-callout:has(> .callout-title .callout-title-inner:dir(rtl))>.callout-title .callout-icon svg.svg-icon {
        transform: scale(-1, 1);
    }
}

.wewrite-callout {
    background-color: var(--callout-background-color, rgba(8, 109, 221, 0.1));
    box-shadow: var(--callout-box-shadow, 0 4px 8px  rgba(0, 0, 0, 0.2));
}


.callout-icon {
    height: 1em;
}

.wewrite-callout[data-callout="summary"] {
    background-color: rgba(0, 191, 188, 0.1);
}
.wewrite-callout[data-callout="abstract"],
.wewrite-callout[data-callout="tldr"] {
    background-color: rgba(0, 176, 255, 0.1);
}

.wewrite-callout[data-callout="info"] {
    background-color: rgba(8, 109, 221, 0.1);
}

.wewrite-callout[data-callout="todo"] {
    background-color: rgba(8, 109, 221, 0.1);
}

.wewrite-callout[data-callout="important"] {
    background-color: rgba(8, 191, 188, 0.1);
}

.wewrite-callout[data-callout="tip"],
.wewrite-callout[data-callout="hint"] {
    background-color: rgba(8, 191, 188, 0.1);
}

.wewrite-callout[data-callout="success"],
.wewrite-callout[data-callout="check"],
.wewrite-callout[data-callout="done"] {
    background-color: rgba(8, 185, 78, 0.1);

}

.wewrite-callout[data-callout="question"],
.wewrite-callout[data-callout="help"],
.wewrite-callout[data-callout="faq"] {
    background-color: rgba(236, 117, 0, 0.1);
}

.wewrite-callout[data-callout="warning"],
.wewrite-callout[data-callout="caution"],
.wewrite-callout[data-callout="attention"] {
    background-color: rgba(236, 117, 0, 0.1);
}

.wewrite-callout[data-callout="failure"],
.wewrite-callout[data-callout="fail"],
.wewrite-callout[data-callout="missing"] {
    background-color: rgba(233, 49, 71, 0.1);
}

.wewrite-callout[data-callout="danger"],
.wewrite-callout[data-callout="error"] {
    background-color: rgba(233, 49, 71, 0.1);
}

.wewrite-callout[data-callout="bug"] {
    background-color: rgba(233, 49, 71, 0.1);
}

.wewrite-callout[data-callout="example"] {
    background-color: rgba(120, 82, 238, 0.1);
}

.wewrite-callout[data-callout="quote"],
.wewrite-callout[data-callout="cite"] {
    background-color: rgba(158, 158, 158, 0.1);
}

/* title start */
.wewrite-callout.is-collapsible  {
    cursor: var(--cursor);
}


.callout-title {
    padding: 0;
    display: flex;
    gap: 4px;
    font-size: inherit;
    line-height: 1.3;
    align-items: flex-start;
    color: rgb(8, 109, 221);
}


.wewrite-callout[data-callout="summary"] .callout-title  {
    color: rgb(0, 191, 188);
}
.wewrite-callout[data-callout="abstract"] .callout-title ,
.wewrite-callout[data-callout="tldr"] .callout-title {
    color: rgb(0, 176, 255);
}

.wewrite-callout[data-callout="info"] .callout-title {
    color: rgb(8, 109, 221);
}

.wewrite-callout[data-callout="todo"] .callout-title {
    color: rgb(8, 109, 221);
}

.wewrite-callout[data-callout="important"] .callout-title {
    color: rgb(8, 191, 188);
}

.wewrite-callout[data-callout="tip"] .callout-title ,
.wewrite-callout[data-callout="hint"] .callout-title {
    color: rgb(8, 191, 188);
}

.wewrite-callout[data-callout="success"] .callout-title ,
.wewrite-callout[data-callout="check"] .callout-title ,
.wewrite-callout[data-callout="done"] .callout-title {
    color: rgb(8, 185, 78);

}

.wewrite-callout[data-callout="question"] .callout-title ,
.wewrite-callout[data-callout="help"] .callout-title ,
.wewrite-callout[data-callout="faq"] .callout-title {
    color: rgb(236, 117, 0);
}

.wewrite-callout[data-callout="warning"] .callout-title ,
.wewrite-callout[data-callout="caution"] .callout-title ,
.wewrite-callout[data-callout="attention"] .callout-title {
    color: rgb(236, 117, 0);
}

.wewrite-callout[data-callout="failure"] .callout-title ,
.wewrite-callout[data-callout="fail"] .callout-title ,
.wewrite-callout[data-callout="missing"] .callout-title {
    color: rgb(233, 49, 71);
}

.wewrite-callout[data-callout="danger"]  .callout-title ,
.wewrite-callout[data-callout="error"] .callout-title {
    color: rgb(233, 49, 71);
}

.wewrite-callout[data-callout="bug"] .callout-title {
    color: rgb(233, 49, 71);
}

.wewrite-callout[data-callout="example"] .callout-title {
    color: rgb(120, 82, 238);
}

.wewrite-callout[data-callout="quote"] .callout-title ,
.wewrite-callout[data-callout="cite"]  .callout-title {
    color: rgb(158, 158, 158);
}

/* title end */
.callout-content {
    overflow-x: auto;
    padding: 0; 
    background-color: transparent;
}

.callout-content .wewrite-callout {
    margin-top: 20px;
}

.callout-icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}



.callout-title-inner {
    font-weight: 600; 
    color: inherit; 
}

.callout-fold {
    display: flex;
    align-items: center;
    padding-inline-end: 8px; 
}


.callout-fold .svg-icon {
    transition: transform 100ms ease-in-out;
}

.callout-fold.is-collapsed .svg-icon {
    transform: rotate(-1 * -1 * 90deg);
}

